body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ede9e9; /* optional dark background */
}



.signup-container {
  display: flex;
  width: 800px;
  height: 450px;
  margin: 60px auto;
  background: linear-gradient(to right, #dfe3e8, #b0c4de);
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

/* LEFT SIDE */
.signup-form {
  width: 50%;
  padding: 40px;
  background: #e5e7eb;
  border-radius: 20px 0 0 20px;
}

.signup-form h2 {
  color: #0b3c8a;
  margin-bottom: 30px;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #333;
  background: transparent;
  outline: none;
}

.signup-form button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #003cff, #001f8f);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}

.signup-form button:hover {
  opacity: 0.9;
}

.login-text {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}

/* RIGHT SIDE */
.signup-image {
  width: 50%;
  background: #0b1d4d;
  border-radius: 0 20px 20px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-image img {
  width: 400px;
  height: 400px;
  transition: transform 0.3s ease;
}

.signup-image img:hover {
  transform: scale(1.1);
}


